.topNav{
    height: 80px;
    background-color: #DF0613;
    color: white;
}
.topNav h1{
    color: white;
    font-size: 40px;
    font-weight: 800;
}
.topNav h5{
    font-size: 20px;
    font-weight: 700;
}
.subNav{
    height: 50px;
}
.navTextIcon{
    font-family: 'Swiss 721', sans-serif;
    font-size: 18px;
    font-weight: 800;
    text-decoration: none;
    color: black;   
}

.titolone {
    font-family: 'Base Neue Bold', sans-serif;
    }